# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

.env

.DS_Store

.build

src/common/local

# Python ignores
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
*.pyd
*.so

venv

# package-lock
package-lock.json